
    body {
      font-family: 'Georgia', serif;
      background-color: #f5f5f5;
      color: #000000;
      margin: 0;
      padding: 0;
    font-size: 16px;
        text-align: center;
    }

    header {
      background-color: #663300;
      color: #fff;
      text-align: center;
      padding: 20px;
    }

    h1, h2 {
      font-family: 'Georgia', serif;
      text-align: center;
    }

  h3 {
    font-family: 'Georgia', serif;
    text-align: center;
    color: white;
}

h4 {
    font-family: 'Georgia', serif;
    text-align: center;
    color: white;

    .image-container {
      text-align: center;
      margin-bottom: 20px;
    }

    .center-container {
      text-align: center;
    } 

    ul {
      padding: 0;
      display: inline-block;
        text-align: center;
    }
    ol { 
        text-align: center;
    } 

    li {
      display: inline;
    } 

    nav {
  background-color: #996633;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
} 
