<html>
<style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f5f5f5;
      color: #333;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #663300;
      color: #fff;
      text-align: center;
      padding: 20px;
    }

    h1, h2 {
      font-family: 'Georgia', serif;
      text-align: center;
    }

  h3 {
    font-family: 'Georgia', serif;
    text-align: center;
    color: #ffffff;
}
    

    nav {
      background-color: #996633;
      color: #fff;
      padding: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      text-align: center;
    }

    li {
      display: inline;
      margin: 0 10px;
    }


  <title>Centered Image Example</title>
  <style>
    .image-container {
      text-align: center;
    }
  </style>

<body>
  <h1>Centered Image</h1>
 <div class="image-container">
    <img src="brownie-frosting.jpg" alt="a brownie with chocolate frosting on a plate with a bite taken out of it">
  </div>
</body>
  </style>
</html>
